
<link  href="__CSS__/bootstrap.min.css" type="text/css"  rel="stylesheet" />
<link  href="__CSS__/chat.css" type="text/css"  rel="stylesheet" />
<style>
    .main{background:url(__IMG__/indexImg/bg.png);}
    #container{height:80%}
</style>
</head>
<body class="main">
<div  style="height: 100%">
        <if condition="1 == 1">
            <div id="container"></div>

            <script src="__JS__/chat.js"></script>
            <div class="divchat" id="chatArea"></div>
            <div class="infoDiv" id="infoArea">
                开始地点坐标:<span id="startPoint">(0,0)</span>
            </div>
            <else/>
            <script>
                $(function(){
                    touming("游戏已开始,请等待房主配置游戏参数",true);
                })
            </script></if>
    </div>
<script>
    $(function(){

    })
</script>