

<style>
    .main{background:url(__IMG__/indexImg/bg.png);}
    #container{
        height:1000px;
        width:1000px;
    }
</style>
</head>
<body class="main">
<div class="container" style="height: 100%">
        <if condition="$leader == 1">
            <div id="container"></div>
            <script type="text/javascript">
                var map = new BMap.Map("container");//在container容器中创建一个地图,参数container为div的id属性;
                var point = new BMap.Point(116.404, 39.915);//定位
                map.centerAndZoom(point,15);				//将point移到浏览器中心，并且地图大小调整为15;

                <!--以后只需要在此处添加代码即可-->
            </script>
            <else/>
            <script>
                $(function(){
                    touming("游戏已开始,请等待房主配置游戏参数",true);
                })
            </script></if>
    </div>
<script>
    $(function(){

    })
</script>