

<link type="text/css" href="__CSS__/indexCss.css" rel="stylesheet" />
<style>
    .main{background:url(__IMG__/indexImg/bg.png); width:100%; text-align:center; margin-left:auto; margin-right:auto; bottom:0px; overflow:hidden; }
</style>
</head>
<body class="main">

<div class="t1">
    <span class="qp">房主:{$leader.name}</span>
    <table border="1" width="50%" cellpadding="0" cellspacing="0" class="main_1">
        <tr >
            <td >红方
            </td>
            <td >蓝方
            </td>
        </tr>
        <for start="0" end="5">
            <tr class="team">
                <td class="red">
                   &nbsp; <if condition="$red[$i]">{$red[$i][name]}</if>
                </td>
                <td class="blue">
                    &nbsp;  <if condition="isset($blue[$i])">{$blue[$i][name]}</if>
                </td>
            </tr>
        </for>
        <tr ><td colspan="2">未选择队伍的成员:
            <span class="oth"><foreach name="oth" item="vo">
               {$vo.name}&nbsp;&nbsp;&nbsp;
            </foreach>
            </span>
        </td></tr>
        <tr >
            <td ><button class="btn-danger" onclick="joinTeam(1);">加入红队</button>
            </td>
            <td ><button class="btn-info" onclick="joinTeam(2);">加入蓝队</button>
            </td>
        </tr>
        <if condition="session('id') eq $leader['id']">
            <tr >
                <td colspan="2">
                    <button class="btn-success" onclick="start();">开始游戏</button>
                </td>
            </tr>
        </if>
            </table>
    </div>
</div>
<script>
    $(function(){
        setInterval(function(){
            refreshTeam();
        },1000);
    })
    function joinTeam(team){
        $.ajax({
            url:'joinTeam',
            data:{
                team:team
            },
            success:function(data){
                refreshTeam();
            }
        });
    }
    function refreshTeam(){
        $.ajax({
            url:'refreshTeam',
            success:function(data){
                if(data === "1"){
                    location.href = "{:U('game/index')}";
                }
                data = JSON.parse(data);
                var red = $(".red");
                red.html("&nbsp;");
                var blue = $(".blue");
                blue.html("&nbsp;");
                var redIndx = 0;
                var blueIndx = 0;
                $(".oth").text(" ");
                $.each(data,function(index,value){
                    if(value.team == 1){
                        red.eq(redIndx).text(value.name);
                        redIndx ++;
                    }else if(value.team == 2){
                        blue.eq(blueIndx).text(value.name);
                        blueIndx ++;
                    }else{
                        $(".oth").html( $(".oth").text() + value.name + "&nbsp;&nbsp;&nbsp;");
                    }
                })
            }
        });
    }
    function start(){
        $.ajax({
            url:'start',
            success:function(data) {
                data = JSON.parse(data);
                if(data[8] == 0){
                    touming(data['info']);
                }
                location.href = "{:U('game/index')}";
            }
        });
    }
</script>