.divchat{background-color:#fff;resize:none;height:80%;overflow-y:auto;word-wrap:break-word;padding:5px;border-bottom:1px solid #ddd}
.infoDiv{background-color:#fff;resize:none;height:100%;overflow-y:auto;word-wrap:break-word;padding:5px;border-bottom:1px solid #ddd}
.system{color:black;font-size:12px}