@charset "utf-8";
*{ margin:0; padding:0; list-style:none;}
	input[type="button"], 
	input[type="submit"], 
	input[type="reset"] 
	{
	-webkit-appearance: none;}
a{ text-decoration:none;color:#fff;}
a:hover{text-decoration:none;color:#fff;}
a,img{border:0;} 	
.body,html{ height:100%;}
.main_1{color:#FFF; width:100%; text-align:center; margin-left:auto; margin-right:auto; bottom:0px; overflow:hidden;padding-top:10px; font-family:'微软雅黑'; font-size:24px;}
.t1{ width:100%; text-align:center; margin:0px auto; margin-top:50px;}
.t2{ width:100%; text-align:center; margin:0px auto;}
.t21{ width:33%; text-align:center; margin:0px auto; float:left; margin-top:100px;}

.nav{ width:100%; height:40px; background:#f6f6f8; position:fixed;}
.nav_wz{ font:"微软雅黑"; font-size:12px; line-height:30px;}
.nav_wz:hover{ font:"微软雅黑"; font-size:12px; line-height:30px; color:#999;}
.nav_1{ float:left; width:50%; margin-top:5px;}
.nav_2{ float:right; width:50%; margin-top:5px;}

.xian{ width:80%; height:1px; text-align:center; background:#CCC; margin:0px auto; margin-top:20px;}

.xuanze{ width:100%; height:auto;  margin-top:20px;}
.xx{ width:80%;}
.left{ width:50%; line-height:30px; font-size:14px; font-family:"微软雅黑";  }
.right{ width:50%; float:left; margin-top:5px;}

.foot{ bottom:0px; position:fixed; text-align:center; overflow:hidden; left:0px; right:0px; line-height:18px; width:100%; background:#f6f6f8; height:40px;}
.footer{font-size:12px; color:#333; font-family:'微软雅黑';}
.zt{ margin-top:40px;}
.promptumenu_nav{
	z-index: 5;
	position: absolute;
	bottom:5px;
	left: 50%;
	margin-right: -50%;
}
.promptumenu_window{
	cursor: move;
	position: relative;
}
.promptumenu_nav a{
	cursor: pointer;
	width: 12px;
	height: 12px;
	text-indent: -9999px;
	outline: none;
	background: url(pagination1.png) 0 0 no-repeat;
	display: block;
	float: left;
	position: relative;
	left: -50%;
	margin: 0 2px;
}
.promptumenu_nav a.active{
	background: url(pagination2.png) 0 0 no-repeat;
}


.xian_c{ width:90%; height:30px; text-align:center; background:#f87676; margin:0px auto; margin-top:20px;}
.qp{font-size:24px; color:#fff; font-family:'微软雅黑'; line-height:30px;}
.b_main{ margin-top:50px;}

.left_1{ width:40%; float:left; border:#999 1px solid; height:110px;  border-radius:5px; margin-left:20px; margin-top:10px;}
.right_1{width:40%; float:right; border:#999 1px solid; height:110px;  border-radius:5px; margin-right:20px; margin-top:10px;}

.left_x{ width:100%; text-align:center; margin-top:10px;}
.left_w{font-size:10px; color:#999; font-family:'微软雅黑'; text-align:center; margin-top:5px;}

.login{ width:90%; text-align:center; margin:20px auto; }
.text{ margin:10px auto;  border-radius:20px; font-size:12px; color:#333; text-align:center; }
.text_1{ height:60px; margin:0px auto; text-align:center;  border-radius:20px; font-size:12px; color:#333; margin-left:10px; }
.foot_1{ width:100%; height:20px; color:#999; font-size:12px; margin:0px auto; text-align:center; margin-top:30px;}
.tet{width:80%; height:40px; border-radius:3px; border:#999 1px solid; font-size:14px; font-family:'微软雅黑'; text-align:left;}
.lg_btn{color:#fff; line-height:35px; background:#ff4d13; width:85%; height:35px; border-radius:3px;  border:0px;  margin:10px auto; font-size:14px; font-family:'微软雅黑';}

.hy{font-size:18px; color:#ff4d13; font-family:'微软雅黑'; text-align:center; margin-top:20px;}
.tx{font-size:12px; color:#666; font-family:'微软雅黑';  margin-top:10px; float:left; width:50%;}
.tc{font-size:12px; color:#09F; font-family:'微软雅黑';  margin-top:10px; float:right; width:50%;}
.tt{font-size:12px; color:#09F; font-family:'微软雅黑';  margin-top:10px; float:right; width:100%;}

.kk{ width:95%; margin:10px auto; border:#999 1px solid; height:100%; }

.wz{font-size:14px; font-family:'微软雅黑'; line-height:50px; color:#333; text-align:left; width:100%;}
.jj{font-size:14px; font-family:'微软雅黑'; line-height:50px; color:#333; text-align:right;}

.wz_1{ width:80%; font-size:12px; font-family:'微软雅黑'; color:#999; padding-bottom:20px;}
.wz_11{ font-size:12px; font-family:'微软雅黑'; color:#999; text-align:left; margin-left:20px;}
.wz_2{ width:30%; font-size:12px; font-family:'微软雅黑'; color:#666; padding-bottom:20px; float:left;}

.jz{ text-align:right; margin-right:10px; width:50%; font-size:18px; font-family:'微软雅黑'; color:#ff4d13;}

.wzwz{font-size:12px; font-family:'微软雅黑'; color:#090; width:50px; text-align:right; float:right; margin-top:5px;}

.wz_3{font-size:14px; font-family:'微软雅黑'; color:#333; text-align:left; width:100%; line-height:50px;}
.wz_4{font-size:12px; font-family:'微软雅黑'; color:#666; text-align:left; width:100%; line-height:20px; padding-bottom:10px;}
.dg{ margin-top:5px; float:left; font-size:12px; font-family:'微软雅黑'; color:#ff4d13;}

.jzz{ text-align:left;  width:120px; font-size:12px; font-family:'微软雅黑'; color:#ff4d13;}
.lg_bt{color:#fff; line-height:35px; background:#ff4d13; width:100%; height:35px;  border:0px;  margin:10px auto; font-size:12px; font-family:'微软雅黑';}










